[submodule "projects/tracker"]
	path = projects/tracker
	url = https://github.com/kundkingan/tracker
[submodule "projects/cv"]
	path = projects/cv
	url = https://github.com/kundkingan/cv
[submodule "projects/cointrack"]
	path = projects/cointrack
	url = https://github.com/kundkingan/cointrack
