
<main>
	<div class="top">
		<section class="t-title">
			<span class="logo">D/A</span>
			<p class="name">David Andersson</p>
		</section>

		<section class="t-header">
			<span>Developer.</span>
		</section>

		<section class="t-button">
			<div class="b-resume">
				<a href="https://cv.d-andersson.se" target="_blank">RESUME</a>
			</div>
		</section>
	</div>

	<div class="bottom">
		<mat-divider></mat-divider>

		<div class="b-header">
			<span>Portfolio</span>
		</div>

		<section class="b-portfolio">
			<div class="p-project" *ngFor="let proj of projects" (click)="onProject(proj.link)">
				<div class="p-header">
					<span>{{proj.type}}</span>
				</div>
				<div class="p-description">
					<span>{{proj.name}}</span>
				</div>
				<div class="p-tech">
					<span *ngFor="let t of proj.tech">
						{{t}}
					</span>
				</div>
			</div>
		</section>
	</div>
</main>

